@CHARSET "utf-8";

body {
	padding: 75px 0px 40px 0px;
	background-color: #fafafaaa;
}

.profile {
	padding: 10px 20px 10px 20px;
	min-width: 360px;
	
}

.image-wrapper{
	position: relative;
	overflow: hidden;
	padding-top: 100%;

}

.profile-image{
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	max-height: 600px

}

#theparent{
	width : 100%;
}

#controls a{
	display:hidden;
	padding: 0 5%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 300;
	color: #888
}